/* 对frame.css 样式的覆盖 */
body {
    min-width: 1200px;
}
.post {
    background: none repeat scroll 0% 0% rgba(21, 21, 21, 0.8);
    margin-bottom: 40px;
}
.posttitle {
    font-size: 25px;
}
.postlist {
    width: 800px;
    color:#BBB;
    font-size: 14px;
    letter-spacing:0.3pt;
}
.postcontent {
    font-size: 26px;
}
.switchpage {
    float: right;
    display: inline;
    height: 40px;
    text-align: right;
    line-height: 32px;
}